/* Cores Customizadas PMMG */
:root {
  /* CORES PRINCIPAIS */
  --pmmg-caqui-medio: #9b8a5c;
  --pmmg-preto: #000000;

  /* CORES AUXILIARES */
  --pmmg-amarelo: #d4af37; /* sugestão institucional próxima ao dourado militar */
  --pmmg-branco: #efe3bd;
  --pmmg-vermelho: #bb2429;

  /* VARIAÇÕES CAQUI (hierarquia visual) */
  --pmmg-caqui-claro: #d0c19e;
  --pmmg-caqui-medio: #9f8e5f;
  --pmmg-caqui-escuro: #8e8161;

  /* APOIO / FUNDO */
  --pmmg-fundo: #efe3bd;
  --pmmg-texto: #000000;
  --pmmg-destaque: #bb2429;
}

#home {
    position: relative;
    width: 100%;
    min-height: 80vh; /* Ocupa 80% da altura do monitor */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    /* Tente usar o caminho relativo com ./ para garantir */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('./imagens/fundo.png'); 
    background-size: cover;
    background-position: center;
    z-index: -1; /* Joga a imagem para trás do texto */
}

.content-section {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Esconder seções inativas */
.hidden {
    display: none;
}
