/* Cores Customizadas PMMG */
:root {
  /* CORES PRINCIPAIS */
  --pmmg-caqui-medio: #9b8a5c;
  --pmmg-preto: #000000;

  /* CORES AUXILIARES */
  --pmmg-amarelo: #d4af37; /* sugestão institucional próxima ao dourado militar */
  --pmmg-branco: #efe3bd;
  --pmmg-vermelho: #bb2429;

  /* VARIAÇÕES CAQUI (hierarquia visual) */
  --pmmg-caqui-claro: #d0c19e;
  --pmmg-caqui-medio: #9f8e5f;
  --pmmg-caqui-escuro: #8e8161;

  /* APOIO / FUNDO */
  --pmmg-fundo: #efe3bd;
  --pmmg-texto: #000000;
  --pmmg-destaque: #bb2429;
}

.hero-bg {
    /* Certifique-se de que o nome do arquivo (ex: fundo.jpg) está idêntico ao GitHub */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('Imagens/Apresentação Operação Elos de Minas.pptx (2).png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh; /* Isso garante que ela ocupe 80% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Esconder seções inativas */
.hidden {
    display: none;
}
